# A/B Test Click-Through Rate Analysis

### Is the difference between this two click rates real or it have happened just by chance? 

$$
\begin{cases}
H_0: p_{con} = p_{exp} \\
H_1: p_{con} \ne p_{exp}
\end{cases}
$$

## Data Exploration Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from scipy.stats import norm

In [2]:
# Load the data
df = pd.read_csv('ab_test_click_data.csv')
df

       user_id  click group            timestamp
0            1      1   exp  2024-01-01 00:00:00
1            2      0   exp  2024-01-01 00:01:00
2            3      1   exp  2024-01-01 00:02:00
3            4      0   exp  2024-01-01 00:03:00
4            5      1   exp  2024-01-01 00:04:00
...        ...    ...   ...                  ...
19995    19996      1   con                  NaN
19996    19997      1   con                  NaN
19997    19998      1   con                  NaN
19998    19999      0   con                  NaN
19999    20000      1   con                  NaN

[20000 rows x 4 columns]